<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Demo 9 : La directive d'attribut customs</span>
                <p appHighlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
                <p appHighlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Demo 9 : La directive d'attribut customs sur event</span>
                <p appRenderEvent>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
                <p appRenderEvent>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
                <p appRenderEvent>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
                <p appRenderEvent>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias atque velit quod ab. Sit illum reprehenderit sed totam illo!</p>
            </div>
        </div>
    </div>
</div>