<div class="collection">
  <a routerLink="" class="collection-item">Home</a>
  <a routerLink="demo/demo1" class="collection-item">Demo 1 : Binding de propriétés</a>
  <a routerLink="demo/demo2" class="collection-item">Demo 2 : Two Way Binding</a>
  <a routerLink="demo/demo3" class="collection-item">Demo 3 : Event Binding</a>
  <a routerLink="demo/demo4" class="collection-item">Demo 4 : Page 404</a>
  <a routerLink="exos/exos1" class="collection-item">Exos 1 : la suite de fibinacci</a>
  <a routerLink="demo/demo5" class="collection-item">Demo 5 : les pipes</a>
  <a routerLink="demo/demo6" class="collection-item">Demo 6 : les customs pipes</a>
  <a routerLink="exos/exos2" class="collection-item">Exos 2: les customs pipes</a>
  <a routerLink="demo/demo7" class="collection-item">Demo 7 : les directives Structurelles</a>
  <a routerLink="exos/exos3" class="collection-item">Exos 3 : le panier de course</a>
  <a routerLink="demo/demo8" class="collection-item">Demo 8 : les directives d'attributs</a>
  <a routerLink="demo/demo9" class="collection-item">Demo 9 : les directives d'attributs customs</a>
  <a routerLink="demo/demo10" class="collection-item">Demo 10 : Les Services & DI</a>
  <a routerLink="demo/demo11" class="collection-item">Demo 11 : Les Promises</a>
</div>