<app-navbar></app-navbar>
<div class="row">
    <div class="col s3">
        <div class="collection">
            <a routerLink="" class="collection-item">Home</a>
            <a routerLink="demo/demo1" class="collection-item">Demo 1 : Binding de propriétés</a>
            <a routerLink="demo/demo2" class="collection-item">Demo 2 : Two Way Binding</a>
            <a routerLink="demo/demo3" class="collection-item">Demo 3 : Event Binding</a>
            <a routerLink="demo/demo4" class="collection-item">Demo 4 : Page 404</a>
        </div>
    </div>
    <div class="col s9">
        <router-outlet></router-outlet>
    </div>
</div>