<div class="row">
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Demo 5 : les Pipes</span>
                <p>{{ varTxt | uppercase }}</p>
                <p>{{ varTxt }}</p>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Demo 5 : les Pipes</span>
                <p>{{ varNb | number : '3.1-2'}}</p>
                <p>{{ varNb }}</p>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Demo 5 : les Pipes</span>
                <p>{{ varDate | date : 'dd/MM/yyyy'}}</p>
                <p>{{ varDate }}</p>
            </div>
        </div>
    </div>
</div>